:root {
  /* Your default theme */
  --background: #f6f7f9;
  --backgroundContrast: #fff;
  --border: #E6E8EB;
  --foreground: #6B6F76;
  --highlight: #3C4149;
}

[data-theme='dark'] {
  --background: #1F2023;
  --backgroundContrast: #27282B;
  --border: #3C4149;
  --foreground: #90959D;
  --highlight: #EFF1F4;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input,
button {
  color: var(--foreground);
}


.CollapsibleContent {
  overflow: hidden;
}
.CollapsibleContent[data-state='open'] {
  animation: slideDown 300ms ease-out;
}
.CollapsibleContent[data-state='closed'] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
