:root {
  /* Your default theme */
  --background: #f6f7f9;
  --backgroundContrast: #fff;
  --border: #EFF1F4;
  --foreground: #6B6F76;
  --highlight: #3C4149;
}

[data-theme='dark'] {
  --background: #1F2023;
  --backgroundContrast: #27282B;
  --border: #3C4149;
  --foreground: #90959D;
  --highlight: #EFF1F4;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input,
button {
  color: var(--foreground);
}
